<!-- Post Content -->
<div class="pb-1 mb-3 border-bottom">
    <h2><%- item.title || theme.default_post_title || "Untitled" %></h2>
    <h5><span class="badge badge-warning"><i class="fa fa-clock-o"></i>
        <% if(item.author) { %>
            Posted by <%- item.author %> on
        <% } %>
        <% if(item.date) { %>
            <%= item.date.format(config.date_format) %>
        <% } %>
    </span></h5>
    <!-- Tags and categories -->
    <% if (item.categories && item.categories.length || item.tags && item.tags.length) { %>
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-wrap align-items-center">
            <% if (item.tags && item.tags.length){ %>
                <%
                    var tags = [];
                    item.tags.forEach(function(tag){
                        tags.push('<a class="badge badge-danger m-1" href="' + config.root + tag.path + '"><i class="fa fa-tag"></i> ' + tag.name + '</a>');
                    });
                %>
                <%- tags.join(' ') %>
            <% } else { %>
                <%- partial('article-categories', {item: item}) %>
            <% } %>
        </div>
        <div class="d-flex flex-wrap align-items-center">
            <% if (item.tags && item.tags.length && item.categories && item.categories.length){ %>
                <%
                    var categories = [];
                    item.categories.forEach(function(category){
                        categories.push('<a class="badge badge-primary m-1" href="' + config.root + category.path + '"><i class="fa fa-thumb-tack"></i> ' + category.name + '</a>');
                    });
                %>
                <%- categories.join('/ ') %>
            <% } %>
        </div>
    </div>
    <% } %>
</div>
<div class="pb-1 mb-3">
  <%- item.content %>

  <% if(theme.addthis) { %>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<%- theme.addthis %>"></script>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox"></div>
  <% } %>
</div>

<!-- Comments -->
<% if (item.comment != false) { %>
    <div class="pb-1 mb-3">
        <%- partial("_partial/comments.ejs") %>
    </div>
<% } %>