		    <aside class="col-md-4 pb-5">
		      <div class="p-3 mb-3 bg-light text-dark border border-info">
		        <div class="d-flex flex-column justify-content-center align-items-center">
		          <img src="<%- theme.author.image %>" alt="" class="img-fluid img-profile border border-info mb-2">
		          <h5 class="font-italic text-center"><%- config.author || theme.author.name || "Author" %></h5>
		          <p class="blockquote-footer"><%- theme.author.bio || "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, et!" %></p>
		          <div class="d-flex justify-content-between align-items-center">
		            <% if (theme.twitter_url) { %>
		                <div class="mx-2">
		                    <a href="<%- theme.twitter_url%>" class="text-dark" target="_blank">
		                        <i class="fa fa-twitter"></i>
		                    </a>
		                </div>
		            <% } %>

		            <% if (theme.facebook_url) { %>
		                <div class="mx-2">
		                    <a href="<%- theme.facebook_url%>" class="text-dark" target="_blank">
		                        <i class="fa fa-facebook"></i>
		                    </a>
		                </div>
		            <% } %>

		            <% if (theme.github_url) { %>
		                <div class="mx-2">
		                    <a href="<%- theme.github_url%>" class="text-dark" target="_blank">
		                        <i class="fa fa-github"></i>
		                    </a>
		                </div>
		            <% } %>

		            <% if (theme.linkedin_url) { %>
		                <div class="mx-2">
		                    <a href="<%- theme.linkedin_url%>" class="text-dark" target="_blank">
		                        <i class="fa fa-linkedin"></i>
		                    </a>
		                </div>
		            <% } %>

		            <% if (theme.mailto) { %>
		                <div class="mx-2">
		                    <a href="mailto:<%- theme.mailto%>" class="text-dark" target="_blank">
		                        <i class="fa fa-envelope-o"></i>
		                    </a>
		                </div>
		            <% } %>

		            <% if (theme.gitlab_url) { %>
		                <div class="mx-2">
		                    <a href="<%- theme.gitlab_url%>" class="text-dark" target="_blank">
		                        <i class="fa fa-gitlab"></i>
		                    </a>
		                </div>
		            <% } %>
		          </div>
		        </div>
		      </div>
		    </aside>